
.table-container table {
	border: 2px solid forestgreen;
    color:gainsboro;
    overflow-y: auto; 
    max-height: 100px; 
}
  
.table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
} 

tr{
    transition: background-color 0.5s ease;
    font-size: 1.0vw;
    
}

tr:hover {
    background-color: #343943; 
}

th {
	border-bottom: 1px solid black;
}

.sell-column{
    width: fit-content;
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9vh;
}

.data-column{
	text-align: center;
  max-width: 300px;
  word-wrap: break-word;
  padding: 10px 0;
}

.title-row{
    background-color:dimgrey;
    height: 50px;
}

