.App {
    text-align: center;
    width: 100vw;
  }
  .search-field{
    width: 40vw;
  }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5vw;
    margin-bottom: 0px;
  }

  .pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .page-button{
    background-color: forestgreen;
    padding: 7px 25px;
    border-radius: 20px;
    border:none;
    color: white;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.page-button:hover{
    background-color: dimgray;
}

  .page-text{
    color: white;
    font-size: 1.5vw;
    margin: 0 10px;
  }